// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Font weight
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font size
$font-size-mega: 7.2rem;
$font-size-jumbo: 5rem;
$font-size-display: 3.5rem;
$font-size-headline: 3rem;
$font-size-headline-description: 2.2rem;
$font-size-title: 2.4rem;
$font-size-subheader: 2rem;
$font-size-xl: 1.9rem;
$font-size-news-sub-title: 1.8rem;
$font-size-icon-large: 1.7rem;
$font-size-body: 1.6rem;
$font-size-sub-title: 1.5rem;
$font-size-caption: 1.4rem;
$font-size-icon: 1.3rem;
$font-size-medium: 1.2rem;
$font-size-small: 1.1rem;
$font-size-tiny: 1rem;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Secondary
$dark-grey: #454D57;
$medium-grey: #727981;
$light-grey: #D1D2D6;
$soft-grey: #F8F8F8;
$deep-blue:  #20344C;
$dark-blue: #0077B5;
$medium-blue: #66C4E0;
$light-blue: #CDEBF5;
$soft-blue: #F4F7F9;
$light-red: #F35555;