.centred-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  .button {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    position: center;
    padding: 0 1rem;
    cursor: pointer;
    border: 0.1rem solid $medium-blue;
  }
}

tr {
  text-transform: capitalize;
}

.flex {
  display: flex;
}

.grey {
  color: $medium-grey;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $medium-blue;
}

.game-headline {
  text-align: center;
  padding-right: 7rem;
}